<div [style.width]="'300px'">
  <!-- ! customBaseUrl is required only in development, do not release it in production -->
  @if (shownId === 1) {
  <app-feed
    #feed
    title="Titolone"
    customBaseUrl="http://localhost:4000"
    environment="development"
    [position]="1"
    [showCreator]="showCreator"
    externalCustomerId="francesco"
    (feedScroll)="onScroll($event)"
  ></app-feed>

  } @if (shownId === 2) {
  <!-- ! customBaseUrl is required only in development, do not release it in production -->
  <app-single-video
    #singleVideo
    postId="ccb2a799-1aa1-40c9-a431-7dae83a8f61d"
    customBaseUrl="http://localhost:4000"
    [showCreator]="!showCreator"
  ></app-single-video>
  }
  <!-- ! customBaseUrl is required only in development, do not release it in production -->
  <app-insight #insight customBaseUrl="http://localhost:4000"></app-insight>
</div>

<button (click)="changeShownId(1)">Show feed</button>
<button (click)="togglePlayFeed()">Toggle feed play</button>
<button (click)="changeShownId(2)">Show single video</button>
<button (click)="togglePlayVideo()">Toggle video play</button>
<button (click)="toggleCreator()">Toggle creator</button>
<button (click)="sendCustomEvent()">Track event</button>
