<ng-container>
  <div>
    <!-- customBaseUrl is required only in development, do not release it in production -->
    <app-feed
      *ngIf="shownId == 1"
      #feed
      title="Titolone"
      customBaseUrl="http://localhost:4000"
      assetsPath="blinkoo-assets/"
      environment="development"
      [position]="1"
      [showCreator]="showCreator"
      externalCustomerId="francesco"
    ></app-feed>
    <!-- customBaseUrl is required only in development, do not release it in production -->
    <app-single-video
      *ngIf="shownId == 2"
      postId="POST_ID"
      assetsPath="blinkoo-assets/"
      customBaseUrl="http://localhost:4000"
      [showCreator]="!showCreator"
    ></app-single-video>
    <!-- customBaseUrl is required only in development, do not release it in production -->
    <app-insight
      #insight
      assetsPath="blinkoo-assets/"
      customBaseUrl="http://localhost:4000"
    ></app-insight>
  </div>

  <button (click)="changeShownId(1)">Show feed</button>
  <button (click)="togglePlayFeed()">Toggle feed play</button>
  <button (click)="changeShownId(2)">Show single video</button>
  <button (click)="toggleCreator()">Toggle creator</button>
  <button (click)="sendCustomEvent()">Track event</button>
</ng-container>
